@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz@0,14..32;1,14..32&family=Roboto+Mono:wght@100..700&family=Rubik:wght@745&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: "Roboto mono", sans-serif;
}

.logo {
  width: 80px;
  height: 70px;
  border-radius: 30%;
  margin: 0 8px;
}

#hero,
#experience,
#about,
#projects {
  height: 100%;
  z-index: 0;
}

#hero {
  margin-top: 130px;
}
